<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
      <commands>
          <command name="map:selectpoint" patch:instead="*[@name='map:selectpoint']" type="Sitecore.Support.XA.Feature.Maps.Commands.SelectMapPoint, Sitecore.Support.351468"/>
          <command name="map:selectpoi" patch:instead="*[@name='map:selectpoi']" type="Sitecore.Support.XA.Feature.Maps.Commands.SelectPoiPoint, Sitecore.Support.351468"/>
          <command name="webedit:map:selectpoint" patch:instead="*[@name='webedit:map:selectpoint']" type="Sitecore.Support.XA.Feature.Maps.Commands.WebEditSelectMapPoint, Sitecore.Support.351468"/>
      </commands>
  </sitecore>
</configuration>